{% from "components/multiSelect.njk" import multiSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}

{% extends "base.njk" %}

{% set title = vm.title | translate %}
{% set showBackLink = true %}

{% set uploadedItems = [] %}

{% for uploadedFile in vm.uploadedFiles %}

  {% set messageHtml %}
    <span class="moj-multi-file-upload__success">
      span class="uploaded-file-row">
        <a href="#" class="govuk-link uploaded-file-name">
          {{ uploadedFile.name }}
        </a>

        <span class="uploaded-file-size govuk-!-margin-left-2">
          {{ uploadedFile.size }}
        </span>

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-4">
          {{ t('common.uploadStatus.uploaded') }}
        </strong>
      </span>
    </span>
  {% endset %}

  {% set uploadedItem = {
    fileName: uploadedFile.id,
    originalFileName: uploadedFile.name,
    message: {
      html: messageHtml | safe
    },
    deleteButton: {
      text: t('common.delete')
    }
  } %}

  {% set uploadedItems = (uploadedItems.push(uploadedItem), uploadedItems) %}
{% endfor %}

{% macro uploadFilesHtml() %}
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <h2 class="govuk-heading-m">
    {{ t('pages.fileUploadForLineItem.uploadFiles.title') }}
  </h2>

  <p class="govuk-body">
    {{ t('pages.fileUploadForLineItem.uploadFiles.maxSize') }}
  </p>

  {% if errorSummary.items.length %}
    {{ govukErrorSummary({
      titleText: t('common.errorSummaryTitle'),
      errorList: errorSummary.items
    }) }}
  {% endif %}

  <div
    id="multi-file-upload-config"
    hidden
    data-upload-url="{{ vm.uploadUrl }}"
    data-delete-url="{{ vm.deleteUrl }}"
    data-upload-status-text="{{ t('multiFileUpload.uploadStatusText') }}"
    data-dropzone-hint-text="{{ t('multiFileUpload.dropzoneHintText') }}"
    data-dropzone-button-text="{{ t('multiFileUpload.dropzoneButtonText') }}">
  </div>

  {% set uploadHtml %}
    {{ govukFileUpload({
      id: "documents",
      name: "documents",
      classes: "moj-multi-file-upload__input",
      attributes: { multiple: "" },
      errorMessage: errorMessage
    }) }}

    {{ govukButton({
      text: "Upload file",
      classes: "govuk-button--secondary moj-multi-file-upload__button"
    }) }}
  {% endset %}

  <div class="upload-wrapper">
    {{ mojMultiFileUpload({
      uploadedFiles: {
        heading: {
          text: t('multiFileUpload.uploadedFiles.title')
        },
        items: uploadedItems
      },
      uploadHtml: uploadHtml
    }) }}
  </div>
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ vm.title | translate }}
      </h1>

      <p class="govuk-body">
        {{ t('pages.fileUploadForLineItem.p1') }}
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('pages.fileUploadForLineItem.ul1') }}</li>
        <li>{{ t('pages.fileUploadForLineItem.ul2') }}</li>
      </ul>

      <h2 class="govuk-heading-m">
        {{ t('pages.fileUploadForLineItem.examplesOfEvidence.title') }}
      </h2>

      <p class="govuk-body">
        {{ t('pages.fileUploadForLineItem.examplesOfEvidence.examples') }}
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('pages.fileUploadForLineItem.examplesOfEvidence.courtOrders') }}</li>
        <li>{{ t('pages.fileUploadForLineItem.examplesOfEvidence.invoices') }}</li>
        <li>{{ t('pages.fileUploadForLineItem.examplesOfEvidence.attendanceNotes') }}</li>
      </ul>

      {% if vm.reusableDocuments.length %}

        <h2 class="govuk-heading-m">
          {{ t('pages.fileUploadForLineItem.reuseADocument.title') }}
        </h2>

        <form method="post">
          {{ multiSelect(t, vm.reusableDocuments) }}

          {{ uploadFilesHtml() }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: t('common.saveAndContinue')
            }) }}

            <a
              class="govuk-button govuk-button--secondary"
              href="{{ vm.saveAndContinueHref }}">
              {{ t('common.saveAndComeBackLater') }}
            </a>
          </div>
        </form>

      {% else %}

        {{ uploadFilesHtml() }}

        <div class="govuk-button-group">
          <a
            class="govuk-button"
            href="{{ vm.saveAndContinueHref }}">
            {{ t('common.saveAndContinue') }}
          </a>

          <a
            class="govuk-button govuk-button--secondary"
            href="{{ vm.saveAndContinueHref }}">
            {{ t('common.saveAndComeBackLater') }}
          </a>
        </div>

      {% endif %}

    </div>
  </div>
{% endblock %}