{% from "components/backLink.njk" import backLink %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "components/taskList.njk" import taskList %}

{% extends "base.njk" %}

{% set title = t('pages.uploadEvidenceIndividually.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ backLink(t) }}

      <h1 class="govuk-heading-xl">{{ t('pages.uploadEvidenceIndividually.title') }}</h1>

      <p class="govuk-body">{{ t('pages.uploadEvidenceIndividually.examples') }}</p>

      <h2 class="govuk-heading-m">{{ t('pages.uploadEvidenceIndividually.reusingDocuments.h2') }}</h2>
      <p class="govuk-body">{{ t('pages.uploadEvidenceIndividually.reusingDocuments.p') }}</p>

      <h2 class="govuk-heading-m">{{ t('pages.uploadEvidenceIndividually.namingFiles.h2') }}</h2>
      <p class="govuk-body">{{ t('pages.uploadEvidenceIndividually.namingFiles.p1') }}</p>
      <p class="govuk-body">{{ t('pages.uploadEvidenceIndividually.namingFiles.p2') }}</p>

      {% if vm.billNarrativeTasks.length %}
        <h2 class="govuk-heading-m">{{ t('pages.uploadEvidenceIndividually.billNarrative.h2') }}</h2>
        {{ taskList(t, vm.billNarrativeTasks, "bill-narrative") }}
      {% endif %}

      {% if vm.workItemsTasks.length %}
        <h2 class="govuk-heading-m">{{ t('pages.uploadEvidenceIndividually.workItems.h2') }}</h2>
        {{ taskList(t, vm.workItemsTasks, "work-items") }}
      {% endif %}

      {% if vm.disbursementsTasks.length %}
        <h2 class="govuk-heading-m">{{ t('pages.uploadEvidenceIndividually.disbursements.h2') }}</h2>
        {{ taskList(t, vm.disbursementsTasks, "disbursements") }}
      {% endif %}

      <div class="govuk-button-group">
        <a class="govuk-button" href="#">{{ t('common.saveAndContinue') }}</a>
        <a class="govuk-button govuk-button--secondary" href="#">{{ t('common.saveAndComeBackLater') }}</a>
      </div>

    </div>
  </div>
{% endblock %}
