{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "base.njk" %}

{% set title = vm.title %}
{% set showBackLink = true %}

{% block content %}
  <span class="govuk-caption-l">Claim</span>
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ vm.title }}</h1>

  {{ govukSummaryList({ classes: "govuk-!-margin-bottom-7", rows: vm.rows }) }}

  <div class="govuk-button-group">
    <a class="govuk-button" href={{vm.amendLink}}>Amend claim</a>
    <a class="govuk-button govuk-button--secondary" href="/">Return to claims</a>
  </div>

{% endblock %}
