# Add or remove environment variables here.
CONTACT_EMAIL='CONTACT_EMAIL'
CONTACT_PHONE='CONTACT_PHONE'
DEPARTMENT_NAME='Ministry of Justice'
DEPARTMENT_URL='#'
RATELIMIT_HEADERS_ENABLED=True
RATELIMIT_STORAGE_URI='DATA_BASE_URL'
RATE_LIMIT_MAX=100
RATE_WINDOW_MS=900000#15 * 60 * 1000 = 900000
SERVICE_NAME='Claim for Controlled Work'
SERVICE_PHASE='Alpha'
SERVICE_URL='SERVICE_URL'
NODE_ENV=development
SESSION_SECRET='s3Cur3'
SESSION_NAME='sessionId'
API_URL='http://localhost:8080/'
OIDC_SCOPE='openid profile email'
CLAIMS_API_SCOPE='https://claims-api/claims_write'
OIDC_LOGIN_PATH='/login'
OIDC_CLIENT_SECRET='mock-secret'
OIDC_CALLBACK_PATH='/callback'
OIDC_LOGOUT_PATH='/logout'
OIDC_LOGIN_PATH='/login'
AUTH_ENABLED=true
BASE_URL='http://localhost:3000'
CLIENT_ID='caa-client'
USE_SSL=false
ISSUER_BASE_URL='http://stub-oidc-server:8091'
NUMBER_OF_CLAIMS_PER_PAGE=20
REDIS_DISABLED=true
REDIS_URL='redis://localhost:6379'