{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "base.njk" %}

{% set title = t(vm.title) %}
{% set showBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if vm.form.error %}
        {{ govukErrorSummary({
          titleText: t("common.errorSummaryTitle"),
          errorList: [
            {
              text: vm.form.error.text | translate,
              href: "#" + vm.form.fieldName
            }
          ]
        }) }}
      {% endif %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <h1 class="govuk-heading-l">
          {{ t('pages.escapingFixedFee.title') }}
        </h1>

        <p class="govuk-body">
          {{ t('pages.escapingFixedFee.p1') }}
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('pages.escapingFixedFee.ul1') }}</li>
          <li>{{ t('pages.escapingFixedFee.ul2') }}</li>
          <li>{{ t('pages.escapingFixedFee.ul3') }}</li>
        </ul>

        <p class="govuk-body">
          {{ t('pages.escapingFixedFee.p2') }}
        </p>

        <p class="govuk-body">
          {{ t('pages.escapingFixedFee.p3') }}
        </p>

        {{ govukRadios({
          name: vm.form.fieldName,
          fieldset: {
            legend: {
              text: t(vm.title),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: vm.form.error and {
            text: vm.form.error.text | translate
          },
          items: vm.form.choices | translate
        }) }}

        {{ govukButton({
          text: t("common.saveAndContinue")
        }) }}
      </form>

    </div>
  </div>
{% endblock %}