{% from "components/backLink.njk" import backLink %}
{% from "components/renderTextOrMessage.njk" import renderTextOrMessage %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "base.njk" %}

{% set title = renderTextOrMessage(t, vm.title) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ backLink(t) }}

      {% if errorSummary and errorSummary.items.length %}
        {{ govukErrorSummary({
          titleText: t('common.errorSummaryTitle'),
          errorList: errorSummary.items
        }) }}
      {% endif %}

      <form method="post">

        <h1 class="govuk-heading-xl">
          {{ renderTextOrMessage(t, vm.title) }}
        </h1>

        {{ govukRadios({
          idPrefix: "claimType",
          name: "claimType",
          errorMessage: errorMessage,
          items: [
            {
              value: "profit-cost",
              text: t("pages.poaClaimType.profitCost")
            },
            {
              value: "expert-cost",
              text: t("pages.poaClaimType.expertCost")
            },
            {
              value: "non-expert-disbursement",
              text: t("pages.poaClaimType.nonExpertDisbursement")
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: t("common.saveAndContinue")
          }) }}

          <a
            class="govuk-button govuk-button--secondary"
            href="{{ vm.saveAndComeBackLaterHref }}">
            {{ t("common.saveAndComeBackLater") }}
          </a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}