{% from "components/multiFileUpload.njk" import multiFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload %}

{% extends "base.njk" %}

{% set title = t(vm.title) %}

{% set showBackLink = true %}

{% block content %}

{% if vm.errorSummary.errorList.length %}
  {{ govukErrorSummary(vm.errorSummary | translate) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <h1 class="govuk-heading-xl">
        {{ t("pages.poaEvidenceUpload.title") }}
      </h1>

      <p class="govuk-body">
        {{ t("pages.poaEvidenceUpload.examples") }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t("pages.poaEvidenceUpload.namingFiles.title") }}
      </h2>

      <p class="govuk-body">
        {{ t("pages.poaEvidenceUpload.namingFiles.p1") }}
      </p>

      <p class="govuk-body">
        {{ t("pages.poaEvidenceUpload.namingFiles.p2") }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t("pages.poaEvidenceUpload.uploadFiles.title") }}
      </h2>

      <p class="govuk-body">
        {{ t("pages.poaEvidenceUpload.uploadFiles.maxSize") }}
      </p>

      {{ multiFileUpload(t, vm.uploadedFiles, vm.uploadUrl, vm.deleteUrl) }}

      <div class="govuk-button-group">

        {{ govukButton({
          text: t("common.saveAndContinue")
        }) }}

        <a
          href="{{ vm.saveAndComeBackLaterHref }}"
          class="govuk-button govuk-button--secondary">

          {{ t("common.saveAndComeBackLater") }}

        </a>

      </div>

    </form>

  </div>
</div>

{% endblock %}