{% from "components/dateInput.njk" import dateInput %}
{% from "components/monetaryInput.njk" import monetaryInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "base.njk" %}

{% set title = t(vm.title) %}
{% set showBackLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if vm.errorSummary.errorList.length %}
      {{ govukErrorSummary(vm.errorSummary | translate) }}
    {% endif %}

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <h1 class="govuk-heading-l">
        {{ t("pages.profitCostBillLine.title") }}
      </h1>

      {{ dateInput(
        t,
        "activityDate",
        "activityDate",
        "pages.profitCostBillLine.activityDate",
        vm.form.activityDate
      ) }}

      {{ monetaryInput(
        t,
        "actualNetProfitCostExcludingAdvocacy",
        "actualNetProfitCostExcludingAdvocacy",
        "pages.profitCostBillLine.actualNetProfitCostExcludingAdvocacy",
        vm.form.actualNetProfitCostExcludingAdvocacy
      ) }}

      {{ monetaryInput(
        t,
        "actualNetAdvocacyCosts",
        "actualNetAdvocacyCosts",
        "pages.profitCostBillLine.actualNetAdvocacyCosts",
        vm.form.actualNetAdvocacyCosts
      ) }}

      {{ govukRadios({
        name: "vatApplies",
        fieldset: {
          legend: {
            text: t("pages.profitCostBillLine.vatApplies.title"),
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: vm.form.vatApplies.error and {
          text: vm.form.vatApplies.error.text | translate
        },
        items: [
          {
            value: "yes",
            text: t("common.yes"),
            checked: vm.form.vatApplies.value === "yes"
          },
          {
            value: "no",
            text: t("common.no"),
            checked: vm.form.vatApplies.value === "no"
          }
        ]
      }) }}

      {{ govukInput({
        id: "feeEarnerName",
        name: "feeEarnerName",
        value: vm.form.feeEarnerName.value,
        label: {
          text: t("pages.profitCostBillLine.feeEarnerName.title"),
          classes: "govuk-label--m"
        },
        errorMessage: vm.form.feeEarnerName.error and {
          text: vm.form.feeEarnerName.error.text | translate
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: t("common.saveAndContinue")
        }) }}

        <a href="#" class="govuk-button govuk-button--secondary">
          {{ t("common.saveAndComeBackLater") }}
        </a>
      </div>

    </form>

  </div>
</div>
{% endblock %}