{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "base.njk" %}

{% set title = t('pages.profitCostDetails.title') %}
{% set showBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ t('pages.profitCostDetails.title') }}</h1>

      {% if vm.errorSummary.errorList.length %}
        {{ govukErrorSummary(vm.errorSummary | translate) }}
      {% endif %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          name: vm.form.courtType.fieldName,
          fieldset: {
            legend: {
              text: t("pages.profitCostDetails.courtType.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: vm.form.courtType.error and {
            text: vm.form.courtType.error.text | translate
          },
          items: vm.form.courtType.choices | translate
        }) }}

        {{ govukRadios({
          name: vm.form.clientStatus.fieldName,
          fieldset: {
            legend: {
              text: t("pages.profitCostDetails.clientStatus.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: vm.form.clientStatus.error and {
            text: vm.form.clientStatus.error.text | translate
          },
          items: vm.form.clientStatus.choices | translate
        }) }}

        {{ govukRadios({
          name: vm.form.firstSolicitor.fieldName,
          fieldset: {
            legend: {
              text: t("pages.profitCostDetails.firstSolicitor.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: vm.form.firstSolicitor.error and {
            text: vm.form.firstSolicitor.error.text | translate
          },
          items: vm.form.firstSolicitor.choices | translate
        }) }}

        {{ govukRadios({
          name: vm.form.transferOfSolicitor.fieldName,
          fieldset: {
            legend: {
              text: t("pages.profitCostDetails.transferOfSolicitor.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: vm.form.transferOfSolicitor.error and {
            text: vm.form.transferOfSolicitor.error.text | translate
          },
          items: vm.form.transferOfSolicitor.choices | translate
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: t("common.saveAndContinue")
          }) }}
          <a class="govuk-button govuk-button--secondary" href="#">{{ t('common.saveAndComeBackLater') }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}