{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "base.njk" %}

{% set title = t(vm.title) %}
{% set showBackLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if vm.errorSummary %}
      {{ govukErrorSummary(vm.errorSummary | translate) }}
    {% endif %}

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% if lineItemId %}
        <input type="hidden" name="lineItemId" value="{{ lineItemId }}">
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ t(vm.title) }}
      </h1>

      {{ govukDateInput(vm.activityDateInput | translate) }}

      {{ govukInput(vm.actualNetProfitCostExcludingAdvocacyInput | translate) }}

      {{ govukInput(vm.actualNetAdvocacyCostsInput | translate) }}

      {{ govukRadios(vm.vatApplicableRadios | translate) }}

      {{ govukInput(vm.feeEarnerNameInput | translate) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: t("common.saveAndContinue")
        }) }}

        <a href="#" class="govuk-button govuk-button--secondary">
          {{ t("common.saveAndComeBackLater") }}
        </a>
      </div>

    </form>

  </div>
</div>
{% endblock %}