{% from "components/backLink.njk" import backLink %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "components/taskList.njk" import taskList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "base.njk" %}

{% set title = t('pages.profitCostDetails.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set courtTypeRadioItems = [] %}
      {% set clientStatusRadioItems = [] %}
      {% set firstSolicitorRadioItems = [] %}
      {% set transferSolicitorRadioItems = [] %}

      {% for choice in vm.form.courtTypeChoices %}
        {% set courtTypeRadioItems = (courtTypeRadioItems.push({
          value: choice.value,
          text: t(choice.text)
        }), courtTypeRadioItems) %}
      {% endfor %}

      {% for choice in vm.form.clientStatusChoices %}
        {% set clientStatusRadioItems = (clientStatusRadioItems.push({
          value: choice.value,
          text: t(choice.text)
        }), clientStatusRadioItems) %}
      {% endfor %}

      {% for choice in vm.form.firstSolicitorChoices %}
        {% set firstSolicitorRadioItems = (firstSolicitorRadioItems.push({
          value: choice.value,
          text: t(choice.text)
        }), firstSolicitorRadioItems) %}
      {% endfor %}

      {% for choice in vm.form.transferSolicitorChoices %}
        {% set transferSolicitorRadioItems = (transferSolicitorRadioItems.push({
          value: choice.value,
          text: t(choice.text)
        }), transferSolicitorRadioItems) %}
      {% endfor %}

      {{ backLink(t) }}

      <h1 class="govuk-heading-xl">{{ t('pages.profitCostDetails.title') }}</h1>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-form-group">
          {{ govukRadios({
          name: vm.form.courtTypeFieldName,
          fieldset: {
              legend: {
              text: t("pages.profitCostDetails.courtType.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
              }
          },
          errorMessage: {text: t(vm.form.error.text)} if vm.form.error ,
          items: courtTypeRadioItems
      }) }}
        </div>
        {{ govukButton({
          text: t("common.saveAndContinue")
      }) }}

        <div class="govuk-form-group">
          {{ govukRadios({
          name: vm.form.clientStatusFieldName,
          fieldset: {
            legend: {
              text: t("pages.profitCostDetails.clientStatus.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: { text: t(vm.form.error.text) } if vm.form.error,
          items: clientStatusRadioItems
        }) }}
        </div>

        <div class="govuk-form-group">
          {{ govukRadios({
          name: vm.form.firstSolicitorFieldName,
          fieldset: {
            legend: {
              text: t("pages.profitCostDetails.firstSolicitor.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: { text: t(vm.form.error.text) } if vm.form.error,
          items: firstSolicitorRadioItems
        }) }}
        </div>

        <div class="govuk-form-group">
          {{ govukRadios({
          name: vm.form.transferSolicitorFieldName,
          fieldset: {
            legend: {
              text: t("pages.profitCostDetails.transferSolicitor.title"),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: { text: t(vm.form.error.text) } if vm.form.error,
          items: transferSolicitorRadioItems
        }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}