{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "moj/components/header/macro.njk" import mojHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set govukRebrand = true %}
{% set showBackLink = showBackLink | default(false) %}

{% block pageTitle %}
  {{ t('common.title', { title: title, service: t('common.service') }) }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/{{getAsset('main','css')}}">
  <meta name="description" content="{{ t('common.service') }}">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
  <meta name="author" content="{{ t('common.department') }}">
  <script type="module" nonce="{{ cspNonce }}" src="/js/{{getAsset('custom','min.js')}}"></script>
{% endblock %}

{% block bodyStart %}
  {# cookie policy #}
{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: t('common.department'),
      href: "#"
    },
    navigation: {
      label: "Account navigation",
      items: [
        {
          text: user.email,
          href: "#",
          active: true
        },
        {
          text: t('common.signOut'),
          href: "/logout"
        }
      ]
    }
  }) }}

  {% block govukServiceNavigation %}
    {{ govukServiceNavigation({
      serviceName: t('common.service'),
      serviceUrl: "#",
      navigation: [
        {
          href: "#",
          text: "Your submissions",
          active: true
        },
        {
          href: "#",
          text: "Matter starts"
        },
        {
          href: "#",
          text: "Search"
        }
      ]
    }) }}
  {% endblock %}

  {% block headerEnd %}
    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: config.SERVICE_PHASE
        },
        html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
      }) }}
    </div>
  {% endblock %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-text-align-right govuk-body-s govuk-!-margin-top-2">
    {% if lang == "en" %}
      <span aria-current="true">English</span>
      |
      <a class="govuk-link" href="?lng=cy" lang="cy" hreflang="cy" rel="alternate">
        <span class="govuk-visually-hidden">Newid yr iaith i’r Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    {% else %}
      <a class="govuk-link" href="?lng=en" lang="en" hreflang="en" rel="alternate">
        <span class="govuk-visually-hidden">Switch language to English</span>
        <span aria-hidden="true">English</span>
      </a>
      |
      <span aria-current="true">Cymraeg</span>
    {% endif %}
  </div>

  {% if showBackLink %}
    {{ govukBackLink({
      text: t('common.back'),
      href: "#",
      attributes: {
        "data-module": "back-link"
      }
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    rebrand: govukRebrand,
    meta: {
      items: [
        {
          href: "#",
          text: t('navigation.footer.accessibility')
        },
        {
          href: "#",
          text: t('navigation.footer.cookiePolicy')
        },
        {
          href: "#",
          text: t('navigation.footer.privacyPolicy')
        }
      ],
      html: 'Built by <a href="' + config.DEPARTMENT_URL +'" class="govuk-footer__link">' + t('common.department') + '</a>'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" nonce="{{ cspNonce }}" src="/js/{{getAsset('frontend-packages','min.js')}}"></script>
{% endblock %}
