{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "base.njk" %}

{% set title = t(vm.title) %}
{% set showBackLink = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if vm.errorSummary.errorList.length %}
        {{ govukErrorSummary(vm.errorSummary | translate) }}
      {% endif %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          name: vm.form.fieldName,
          fieldset: {
            legend: {
              text: t(vm.title),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: vm.form.error and {
            text: vm.form.error.text | translate
          },
          items: vm.form.choices | translate
        }) }}

        {{ govukButton({
          text: t("common.saveAndContinue")
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
