{% macro multiSelect(t, reusableDocuments) %}
  <table class="govuk-table" data-module="moj-multi-select" data-id-prefix="documents-">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" id="documents-select-all"></th>
        <th class="govuk-table__header" scope="col">File name</th>
        <th class="govuk-table__header" scope="col">File size</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for reusableDocument in reusableDocuments %}
        <tr class="govuk-table__row govuk-table__row--selected">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="document-{{ reusableDocument.id }}">
              <label class="govuk-label govuk-checkboxes__label" for="document-{{ reusableDocument.id }}">
                <span class="govuk-visually-hidden">Select {{ reusableDocument.fileKey }}</span>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">{{ reusableDocument.fileKey }}</td>
          <td class="govuk-table__cell">{{ reusableDocument.fileSize }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}