{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "components/renderTextOrMessage.njk" import renderTextOrMessage %}

{% macro taskList(t, tasks, id) %}

  {% set items = [] %}

  {% for task in tasks %}

    {% set item = {
      title: {
        text: renderTextOrMessage(t, task.link.text)
      },
      href: task.link.href,
      status: {
        tag: {
          text: renderTextOrMessage(t, task.tag.text),
          classes: task.tag.classes
        }
      }
    } %}

    {% set items = items.concat([item]) %}

  {% endfor %}

  {{ govukTaskList({
    idPrefix: id,
    items: items,
    attributes: {
      "id": id
    }
  }) }}

{% endmacro %}